doctype html
html
    head
        meta(charset='utf-8')
    body
        form(action='/login' method='get')
            p
                li 로그인에 실패하였습니다.
            p
                input(type='submit' value='되돌아가기')
